@import 'base/utilities';
@import 'base/flexbox';
@import 'base/colors';

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: normal;
  src: local('Exo 2'), url(../fonts/exo2/Exo2-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  src: local('Exo 2'), url(../fonts/exo2/Exo2-Bold.ttf) format('truetype');
}

//--- General styles ---
#pr-lucky6 {
  background-color:#00162b;
  border: 0;
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0;

  .bingo-drawing-container {
    width:100%;
    height:auto;
  }

  #master-jackpot-won {
    opacity: 0;
  }

  #fist-num-over text,
  #fist-num-under text,
  #sum5-over text,
  #sum5-under text {
    font-size: 24px;
    font-weight: 700;
  }

  #fist-num-over path,
  #fist-num-under path,
  #sum5-over path,
  #sum5-under path {
    visibility: hidden;
  }

  #fist-num-over.active-green path,
  #fist-num-under.active-green path,
  #sum5-over.active-green path,
  #sum5-under.active-green path {
    visibility: visible;
  }

  //--- Colors ---

  //Active element colors
  .inactive-white {
    fill: $white-color;
  }

  .active-green {
    fill: $won-game-color;
  }

  //Odd/Even colors
  .bar-default {
    fill: $bars-empty-slot-color;
  }

  //vazi za par-nepar i najvise kuglica je u boji
  .even {
    fill: $even-bar-slot-color;
  }

  .odd {
    fill: $white-color;
  }

  //Ball colors
  .ball-visibility {
    display: block;
  }

  #first-num-ball {
    display: none;
  }

  #sum5 .sum5-value {
    display: none;
  }

  #balls {
    .ball {
      display: none;
    }
  }

  #bulbs {
    visibility: hidden;
  }

  image {
    overflow: visible;
  }

  .main-current-ball {
    visibility: hidden;
  }

  #screen-main {
    display: block;

    img {
      height: auto;
      position: absolute;
      width: 100%;
    }

    .lucky6-games-intro {
      display: none;
    }

    .counter {
      color: $white-color;
      font-size: 84px;
      font-weight: 900;
      height: 200px;
      position: absolute;
      right: 100px;
      top: 100px;
      width: 200px;
      z-index: 2;
    }

    .counter.last-seconds {
      color: red;
    }
  }

  //Return visibility
  #return {
    visibility: hidden;
  }
}



















@mixin center() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.counter {
  .timer {
    @include center;
    border-radius: 100%;
    height: 250px; // change these to scale
    width: 250px;
    //background-color: rgba(255,255,255, 0.1);
  }

  .circle {
    fill: transparent;
    stroke: $white-color;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s;
    transition-timing-function: linear;
  }

  .text {
    fill: $white-color;
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    text-anchor: middle;
  }
}