<div id="screen-main">
    <div class="counter">
        <!--<svg class="timer" viewBox="0 0 34 34">-->
            <!--<g>-->
                <!--<circle class="circle" cx="15" cy="17" r="15.9" transform="rotate(-90 16 16)"></circle>-->
                <!--<text class="text" x="17" y="20.5"></text>-->
            <!--</g>-->
        <!--</svg>-->
    </div>
    <img src="assets/images/intro/bingo_intro_screen_bg.jpg">
    <img src="assets/images/intro/bingo_intro_screen_logo.png">

    <img class="lucky6-games-intro" src="">
</div>
