<!--<h1>Advertisements</h1>-->

<!--<div class="counter">{{vm.countDownTime}}</div>-->

<!--<ul>-->
    <!--<li ng-repeat="vm in vm.ads">-->
        <!--{{ vm.title }}-->
    <!--</li>-->
<!--</ul>-->

<div id="screen-main">
    <!--{{vm.countDownTime}}-->
    <div class="counter">
        <!--<svg class="timer" viewBox="0 0 34 34">-->
            <!--<g>-->
                <!--<circle class="circle" cx="15" cy="17" r="15.9" transform="rotate(-90 16 16)"></circle>-->
                <!--<text class="text" x="17" y="20.5"></text>-->
            <!--</g>-->
        <!--</svg>-->
    </div>
    <img src="assets/images/intro/bingo_intro_screen_bg.jpg">
    <img src="assets/images/intro/bingo_intro_screen_logo.png">
    <img class="lucky6-games-intro position-1" src="assets/images/intro/bingo_intro_screen_1.gif">
    <img class="lucky6-games-intro position-2" src="assets/images/intro/bingo_intro_screen_2.gif">
    <img class="lucky6-games-intro position-3" src="assets/images/intro/bingo_intro_screen_3.gif">
    <img class="lucky6-games-intro position-4" src="assets/images/intro/bingo_intro_screen_4.gif">
    <img class="lucky6-games-intro position-5" src="assets/images/intro/bingo_intro_screen_5.gif">
    <img class="lucky6-games-intro position-6" src="assets/images/intro/bingo_intro_screen_6.gif">
    <img class="lucky6-games-intro position-7" src="assets/images/intro/bingo_intro_screen_7.gif">
</div>
